[submodule "base/ranger/.config/ranger/plugins/ranger_devicons"]
	path = base/ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "base/nvim/.config/nvim/autoload/plugged/nvim-colorizer.lua"]
	path = base/nvim/.config/nvim/autoload/plugged/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "base/nvim-titan"]
	path = base/nvim-titan/.config/nvim/
	url = https://github.com/umgbhalla/nvim-titan

