configuration {
	lines: 8;
	columns: 1;
	font: "JetBrainsMono Nerd Font 12";
	bw: 0;
	location: 0;
	padding: 0;
	fixed-num-lines: true;
	show-icons: false;
	sidebar-mode: true;
	separator-style: "none";
	hide-scrollbar: true;
	fullscreen: false;
	fake-transparency: false;
	scroll-method: 0;
	window-format: "[{w}] ··· {c} ···   {t}";
	click-to-exit: true;
	show-match: false;
	theme: "~/.config/rofi/fallback.rasi";
	combi-hide-mode-prefix: false;
	display-run: "";
	display-ssh: "";
	display-drun: "";
	display-combi: "";
}
